.main-footer{
    height: 60px;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: rgb(32, 32, 32);
    color: white;
}