.hero-section{
    padding-top: 100px;
    padding-left: 10px;
    padding-right: 10px;
}

.intro{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "a a b b"
                         "a a c c"
                         "d d d d";
}

.welcome-text{
    grid-area: a;
    font-size: 28px;
    font-weight: 600;
    align-self: center;
    justify-self: center;
}

.mission-text{
    grid-area: b;
    font-size: 22px;
    padding-bottom: 30px;
    align-self: center;
    justify-self: center;
}

.empower-text{
    grid-area: c;
}

.button-text{
    grid-area: d;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}

.empower-text, .button-text{
    font-size: 20px;
    padding-bottom: 30px;
}

.get-started, .learn-more{
    padding: 10px;
    background-color: rgb(220, 220, 220);
}

.hero-section .intro .button-title{
    font-size: 22px;
    font-weight: 600;
}